.cabinet-form {
	width: 520px;
	margin: 0 auto;
}
.orders {
	margin-top: 48px;
}
.your-order {
	border-top: 1px solid rgba(171, 168, 159, 0.18);
	border-bottom: 1px solid rgba(171, 168, 159, 0.18);
	padding: 24px 0;
}
.thriple {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
	height: 20px;
    overflow: hidden;
}
.vert-line {
	background: #AEA4A2;
}
.block {
	font-size: 19px;
	font-weight: 700;
	color: #5C4A4D;
}
.status {
	font-size: 16px;
	font-weight: 700;
	color: #AEA4A2;
	margin-bottom: 20px;
}
.icons {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	margin-left: -6px;
}
.icon {
	width: 80px;
	height: 80px;
	background-position: center;
	background-size: cover;
	border-radius: 12px;
	margin: 6px;
}
.info-delivery {
	color: #716063;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 16px;
}
.pay {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #92525D;
	width: 114px;
	height: 40px;
	color: #FCFBF9;
	font-size: 16px;
	font-weight: 700;
	border-radius: 12px;
	cursor: pointer;
}
.footer {
	margin-top: 794px;
}