@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito/Nunitoregular.woff") format("woff");
}

@font-face {
    font-family: "Neucha";
    src: url("../fonts/Neucha/neucha.woff") format("woff");
}

