*{
	box-sizing: border-box;
}
.body {
	background: #F1ECE0;
	margin: 0;
	font-family: 'Nunito';
}
.parent {
	width: 1352px;
	margin: 0 auto;
}
.top-header {
	padding: 16px 0;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #E0DAD4;
}
.top-header a {
	color: #AEA4A2;
	font-size: 16px;
	font-weight: 700;
}
.top-middle-header {
	display: flex;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
}
.href-li-top-middle-header {
	margin: 0 12px;
}
.bot-left-logo {
	width: 166px;
	height: 72px;
	display: inline-block;
}
.bot-header {
	display: flex;
	justify-content: space-between;
	padding: 28px 0;
	align-items: center;
}
.bot-middle-header {
	display: flex;
}
.bot-header a {
	color: #5C4A4D;
	font-size: 19px;
	font-weight: 700;
}
.bot-right-header {
	display: flex;
	align-items: center;
}
.href-li-bot-middle-header {
	margin: 0 16px;
}
.lupa-bot-header {
	display: inline-block;
	width: 19px;
	height: 19px;
	margin-right: 37px;
}
.heart-right-header {
	width: 20px;
	height: 18px;
	display: inline-block;
	margin-right: 37px;
	background-position: center;
}
.basket {
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 8px;
}
.basket-price {
	display: flex;
	align-items: center;
	height: 24px;
}
.price-header {
	max-width: 70px;
}
.legs {
	width: 100%;
	height: 440px;
	border-radius: 24px;
	margin-bottom: 20px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../pictures/legs-desktop.png);
	display: block;
}


.main {
	margin-left: -20px;
	display: flex;
	flex-wrap: wrap;
	width: 1392px;

}
.card {
	width: 308px;
	margin: 20px;
	border-radius: 24px;
}
.cake {
	width: 100%;
	height: 220px;
	margin-bottom: -5px;
	border-radius: 24px 24px 0 0;
	display: inline-block;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.info {
	padding: 20px 24px 24px 24px;
	background-color: #fff;
	border-radius: 0 0 24px 24px;
}
.price-weight {
	display: flex;
	align-items: center;
	margin-bottom: 6px;
	overflow: hidden;
}
.price {
	color: #5C4A4D;
	font-size: 23px;
	font-weight: 700;
}
.vert-line {
	height: 16px;
	width: 1px;
	background-color: #E0DAD4;
	margin: 0 8px;
}
.weight {
	font-size: 16px;
	color: #AEA4A2;
	font-weight: 700;
}
.name {
	font-size: 19px;
	color: #716063;
	font-weight: 700;
	height: 55px;
	overflow: hidden;
	display: block;
	margin-bottom: 20px;
}

.btns {
	display: flex;
	align-items: center;
}
.to-basket {
	color: #92525D;
	font-size: 16px;
	font-weight: 700;
	width: 120px;
	height: 40px;
	border: 1px solid rgba(146, 82, 93, 0.24);
	border-radius: 12px;
	margin-right: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.heart {
	width: 40px;
	height: 40px;
	border: 1px solid rgba(146, 82, 93, 0.24);
	border-radius: 12px;
	justify-content: center;
	align-items: center;
	display: flex;
}
.menu {
	display: none;
}

@media (max-width: 1400px) {
	.parent {
		width: 944px;
	}
	.legs {
		width: 100%;
		height: 307px;
	}
	.card {
		width: 288px;
	}
	.main {
		width: 984px;
	}
}

@media (max-width: 990px) {
	.parent {
		width: 680px;
	}
	.bot-left-logo {
		width: 140px;
		height: 60px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.top-header {
		display: none;
	}
	.bot-middle-header {
		display: none;
	}
	.legs {
		background-image: url(../pictures/legs-adaptive.png);
		height: 440px;
		margin-bottom: 12px;
	}
	.bot-right-header {
		display: none;
	}
	.menu {
		display: flex;
		align-items: center;
		color: #5C4A4D;
		font-size: 23px;
		font-weight: 700;
	}
	.burger {
		margin-left: 8px;
	}
	.polosa {
		width: 22px;
		height: 2px;
		background: #5C4A4D;
		border-radius: 8px;
		margin: 4px 0;
	}
	.main {
		margin-left: -12px;
		width: 704px;
	}
	.card {
		width: 328px;
		margin: 12px;
	}
}

@media (max-width: 700px) {
	.parent {
		width: 340px;
	}
	.legs {
		height: 220px;
	}
	.card {
		width: 340px;
	}
	.main {
		width: 364px;
	}
	.to-basket {
		background-color: #92525D;
		color: #fff;
	}
}
.footer {
	color: #AEA4A2;
	font-size: 16px;
	font-weight: 700;
	display: flex;
	justify-content: center;
}


.openMenu {
	overflow: hidden;
}
.parent-menu {
	display: none;
}
.active {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999999;
    background: #fff;
}
.close-menu {
	position: absolute;
	outline: none;
	background: #FFFFFF;
	box-shadow: 0px 10px 24px rgba(24, 79, 119, 0.5);
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	right: 15px;
	top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.close-png {
	width: 12px;
}
.menu-block {
	width: 300px;
	height: 230px;
	overflow: hidden;
	background: #1f547b;
	border-radius: 12px;
	padding: 20px;
	overflow-y: auto;
}
.href-menu-li {
	color: #fff;
	font-size: 23px;
}
.selectpicker {
	color: #5C4A4D;
    font-size: 19px;
    font-weight: 700;
    border: none;
    background: none;
    outline: none;
}
.dropdown-item.active, .dropdown-item:active {
	background: #fcfbf900;
}
.bootstrap-select .dropdown-menu {
	border-radius: 16px;
	border: none;
	width: 252px;
	margin-left: -20px;
}
.bootstrap-select>.dropdown-toggle {
	background: none;
	border: none;
	padding-left: 0;
	outline: none;
	padding: 0;
	margin-top: -5px;
}
.dropdown-toggle {
	color: #5C4A4D;
    font-size: 19px;
    font-weight: 700;
}
.btn-light:hover {
	color: #5C4A4D;
	border: none;
	background: none;
}
.btn-check:focus+.btn, .btn:focus {
	box-shadow: none;
}
.btn-check:focus+.btn-light, .btn-light:focus, .btn-check:active+.btn-light:focus, .btn-check:checked+.btn-light:focus, .btn-light.active:focus, .btn-light:active:focus, .show>.btn-light.dropdown-toggle:focus {
	box-shadow: none;
	border: none;
	background: none;
}
.btn-check:active+.btn-light, .btn-check:checked+.btn-light, .btn-light.active, .btn-light:active, .show>.btn-light.dropdown-toggle {
	color: #5C4A4D;
	border: none;
	background: none;
	outline: none;
	box-shadow: none;
}
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
	outline: none;
	outline: none;
}